/* Global Layout Set-up */
* {
	font-family: 'STIX Two Text', serif;
}

html {
	padding: 10px;
}

/* Type Selectors ------------------ */

header { 
	background-image: url('../images/laboratory-design.jpeg'); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center center;
	padding: 20px;
	background-color: black;
} */

nav {
	text-align: left;
	padding: 10px 5px;
}

nav ul {
	list-style: none;
	margin:0 2px;
	padding: 0;
}

nav li {
	display: inline-block;
	padding: 5px 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: large;
	font-weight: 700;
}

h3{
	font-family: 'STIX Two Text', serif;
	font-weight: 900;
}

p {
	line-height: 1.75em;
}

label {
	font-family: 'STIX Two Text', serif;
	font-weight: bolder;
} 

li:hover {
    cursor: pointer;
}

/* ID Selectors -------------------- */

#entry-span{
	font-size: small;
	font-style: italic;
}

/* Class Selectors ----------------- */
.welcome-page a {
	color: black;
}

.around-body {
	padding: 1.5%;
}

.banner-text{
	font-family: 'STIX Two Text', serif;
	text-align: center;
}

.banner-small{
	color: black;
	font-size: 3em;
}

.header-ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.header-ul li {
	display: inline;
}

.button-divs {
	text-align: center;
	color: black;
}

.login-form {
	align-items: left;
}

.register-form {
	align-items: right;
}


.forms-center {
	align-items: center;
}

.notes-section {
	bottom: 250px;
	right:0;
	font-size: 18pt;
	font-weight: bolder;
} 
 
.container {
	align-items: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 12pt;
	margin: 5px;
    margin-top: 20px;
}

.button-container {
    margin-top: 0;
    margin-bottom: 20px;
    display: inline-flex; 
    width: 100%;   
}

.input-group-btn-left {
    padding-right: 30px;
  }

.input-group-btn-right {
    padding-left: 30px;
  }

  .forms-center {
	align-items: center;
}

.inf-container {
    display:flex;
}

.container-sm{
	padding-right:0;
	margin-left: auto;
}

.btn-container{
	padding-left: 12%;
	margin-left: 5%;
}
