<!DOCTYPE html>
<html>
<head>
	<title>
	{%block title %} Users Dashboard {% endblock %}
	</title>

<!-- Bootstrap link -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
<!-- Styling link -->
<link rel="stylesheet" href="/static/css/styles.css"/> 

<script src="https://code.jquery.com/jquery-3.4.1.js"
integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
crossorigin="anonymous"></script>
<script src="/static/js/main.js"></script>
</head> 

<body>
  <div id="bg">&nbsp;</div>
    <header>
      <!--Navbar-->
      <nav>
        <div class="welcome-color">
          <a href="/"><strong>Home</strong></a>
         {% if 'user_id' in session %}
          <div>
            <ul class="header-ul">
              <li>
                <a href="/users_dashboard/{{session['user_id']}}">Dashboard</a>
              </li>
              <li>
                <a href="/select_project?next_project=project">Projects</a>
              </li>

              <li>
                <a href="/attachments">Attachments</a>
              </li>
              
              <li>
                <a href="/logout">Logout</a>
              </li>
          {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      <div class="banner-text">
        <h1><strong>GITAM University AOPT Mishra's Lab</strong></h1>
        <!-- <br> -->
        <h5 class="banner-small"><strong>Tasks Tracking Dashboard</strong></h5>
      </div>
    </header>
    <br>
<div class="around-body">
{% block body %}

{% endblock %}
</div>

{% block footer %}
<div class="container text-center sticky-bottom">
  <p class="text-muted"><small>ENGINEERING: SEPT '21 MARGARET (PT)</small></p>
</div>
{% endblock %}
</body>
</html>
