{% extends 'base.html' %}

{% block title %}Entry Creation{% endblock %}

{% block body %}

<div id="forms-center">
	<form  action="/add_entry/{{trip_id}}" method="POST" enctype="multipart/form-data">
		<h3>Create Entry</h3><br>
		<br>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Title</label>
			<input type="text" name="title" placeholder="Title">
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Entry</label>
			<textarea rows="4" cols="50" name="entry" placeholder="Entry"></textarea>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Attachment</label>
			<input type="file" name="file" class="btn btn-outline-secondary" >
		</div>
		<input type="submit" class="btn btn-dark">
	</form>
</div>
{% endblock %}