{% extends 'base.html' %}

{% block title %}Create Task{% endblock %}

{% block body %}
<div id="forms-center">
	<form  action="/add_task/{{project_id}}" method="POST">
		<h3>Task Details</h3><br>
		<br>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Task Description</label>
			<input type="text" name="description" required><br>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Status</label>
			<!-- <input type="text" name="status"><br> -->
            <select type="text" name="status">
                <option value="Todo">Todo</option>
                <option value="In Progress">In Progress</option>
                <option value="Complete">Complete</option> 
            </select><br>
		</div>
		<input type="submit" class="btn btn-dark">
	</form>
</div>
{% endblock %}