{% extends 'base.html' %}

{% block title %}Add New Entry{% endblock %}

{% block body %}
<div id="forms-center">
	<form  action="/add_entry/{{project_id}}" method="POST" enctype="multipart/form-data">
		<h3>Add Entry to the Project</h3><br>
		<br>
		<div class="form-group row">
			<label class="col-sm-1 form-label">Title</label>
			<input type="text" name="title" placeholder="Title" required>
		</div>
		<div class="form-group row">
			<label class="col-sm-1 form-label">Description</label>
			<textarea rows="4" cols="50" name="entry" placeholder="Description" required></textarea>
		</div>
		<div class="form-group row">
			<label class="col-sm-1 form-label">Attachment</label>
			<input type="file" name="file" class="btn btn-outline-secondary" >
		</div>
		<div class="btn-container">
		<input type="submit" class="btn btn-secondary submit"><i class="fa fa-trash fa-1" aria-hidden="true"></i>
		</div>
	</form>
</div>
{% endblock %}