{% extends 'base.html' %}

{% block title %}Entry's Page{% endblock %}

{% block body %}
<div>
	<h3>{{ entry.title }}</h3>
</div>
<div class="container">
	<div>
		<!-- <img src="{{ entry.attachment }}"> -->
		<a target="_blank" href="{{entry.attachment}}">
			<img src="{{ entry.attachment }}" style="width:150px">
		  </a>
		<br>
		<br>
	</div>
	<div>
		{% if entry.entry %}
			<p>{{ entry.entry }}<br>
				<span id="entry-span">Uploaded: {{ entry.time_stamp }}</span>
			</p>
			<br>	
		{% endif %}
	</div>
</div>
<!-- <a href="javascript:history.back()">Go Back</a> -->
<!-- <button type="button" onclick="javascript:history.back()">Back</button> -->
</div>
<a href="javascript:history.back()">Go Back</a>
{% endblock %}