{% extends 'base.html' %}

{% block title %}Projects Page{% endblock %}

{% block body %}
<div>
	<h3 class="text-center">Project: "{{ name }}"</h3>
	<br>
	<h3 class="text-center">Project overview: "{{ description }}"</h3>
	<br>
</div>
<div class="container">
	<h4 class="text-center"><strong>Project Tasks:</strong></h4>
	<!-- {% if project.tasks %}
		{% for task in project.tasks %}
		<a href="/tasks/{{task.task_id}}" type="button" class="btn btn-light">{{task.description}} : {{task.status}}</a>
        <form action="/update_task/{{task.task_id}}" method="GET">
			{% if task.status != "Complete" %}
            <button class="btn btn-outline-secondary btn-sm update btn" data-source="{{task.task_id}}" type="submit"><i class="fa fa-trash fa-1" aria-hidden="true">Update</i></button>
			{% endif%}
        </form>
		{% endfor %}
	{% endif %}
</div><br> -->

<table class="table">
	<thead>
		<tr>
			<th scope="col">Task</th>
			<th scope="col">Status</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		{% if project.tasks %}
		{% for task in project.tasks %}
		<tr>
		<td>
			<a href="/tasks/{{task.task_id}}" type="button" class="btn btn-light">{{task.description}}</a>
		</td>
		<td>
			{{task.status}}
		</td>
		<td>
			<form action="/update_task/{{task.task_id}}" method="GET">
				{% if task.status != "Complete" %}
				<button class="btn btn-outline-secondary btn-sm update btn" data-source="{{task.task_id}}" type="submit"><i class="fa fa-trash fa-1" aria-hidden="true">Update</i></button>
				{% endif%}
			</form>
			{% endfor %}
		{% endif %}
		</td>
		
        
		</tr>
	</tbody>
</table>

<div class="button-container">
	<span class="input-group-btn input-group-btn-left">
		<a href="/select_project?next_project=add_task" type="button" class="btn btn-primary">Add new task</a>
	</span>
	
	<span class="input-group-btn input-group-btn-right">
	<a href="/select_project?next_project=add_entry" type="button" class="btn btn-primary">Add an attachment</a>
	</span>
</div>
<div class="container">
	<h4><strong>Attachments:</strong></h4>
	<p>Click on attachment to see the details</p>
	{% if project.entries %}
	{% for entry in project.entries %}
	<a href="/entry/{{entry.entry_id}}" type="button" class="btn btn-outline-success btn-sm update btn">{{entry.title}}</a>
	<br>
	<br>
	{% endfor %}
	{% endif %}
</div>
<a href="javascript:history.back()">&#8592; Go Back</a>
{% endblock %}
