{% extends 'base.html' %}

{% block title %}Projects Page{% endblock %}

{% block body %}
<br>
<div>
	<h3>{{ name }}</h3>
	<br>
	<h5>{{ description }}</h5>
	<br>
</div>
<div class="container">
	{% if project.tasks %}
		{% for task in project.tasks %}
		<a href="/tasks/{{task.task_id}}" type="button" class="btn btn-light">{{task.description}} : {{task.status}}</a>
        <form action="/update_task/{{task.task_id}}" method="GET">
			{% if task.status != "Complete" %}
            <button class="btn btn-outline-secondary btn-sm update btn" data-source="{{task.task_id}}" type="submit"><i class="fa fa-trash fa-1" aria-hidden="true">Update</i></button>
			{% endif%}
        </form>
		{% endfor %}
	{% endif %}
</div>
<div>
	<br>
<a href="/select_project?next_project=add_task" type="button" class="btn btn-primary">Add new task</a>
	<br>
	<br>
</div>

<div class="container">
	{% if project.entries %}
	
	<br>
	{% for entry in project.entries %}
	<a href="/entry/{{entry.entry_id}}" type="button" class="btn btn-success">{{entry.title}}</a>
	<br>
	<br>
	{% endfor %}
	{% endif %}
</div>
{% endblock %}
