{% extends 'base.html' %}

{% block title %}Tasks Page{% endblock %}

{% block body %}
<!-- <h3>{{ task.description }}</h3>
<h4>{{ task.status }}</h4>
<div class="container">
	<p>View Projects</p>
	{% if task.projects %}
		<ul>
			{% for project in task.projects %}
			<li><a href="/project/{{project.project_id}}">{{project.project_name}}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
</div> -->

<div>
    <table>
        <thead>
            <tr>Description</tr>
            <tr>Status</tr>
            <tr>View project</tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ task.description }}</td>
                <td><button>{{ task.status }}</button></td>
                {% if task.projects %}
                <td>
                    {% for project in task.projects %}
                    <a href="/project/{{project.project_id}}">{{project.project_name}}</a>
                    {% endfor %} 
                </td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
