{% extends 'base.html' %}

{% block title %}Update Task{% endblock %}

{% block body %}
<div id="forms-center">
	<form  action="/update_task/{{task.task_id}}" method="POST">
		<h3>Task Details</h3><br>
		<br>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Update Task Description</label>
			<input type="text" name="description" value="{{ task.description }} "><br>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Update Status</label>
            <select type="text" name="status" value="{{ task.status }} or request.form['status']">
				<option value="selected disabled hidden">Choose new status</option>
                <option value="Todo">Todo</option>
                <option value="In Progress">In Progress</option>
                <option value="Complete">Complete</option> 
            </select><br>
		</div>
		<input type="submit" class="btn btn-dark">
	</form>
</div>
{% endblock %}