{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="inf-container">
	<div class="container-sm">
		<img src="/static/images/224306.jpeg" alt="Science" style="width:90%; height:90%">
	</div>
	<div class="container-sm col-sm-5">
		<h3 class="text-center">Exploration and exploitation of Weak Interactions in Biological systems.</h3>
		<p>The research in our lab is focused upon weak and transient interactions in biological systems. 
			We use an interdisciplinary approach to discover weak and transient interactions in normal and diseased conditions. 
			Recently discovered chemical biology tools entail the discovery of chemical entities able to modulate pathways and interactions in biological processes. 
			Such work can lead to an increase in biological understanding and the identification of novel targets for chemical intervention.
			Appropriate validation of such targets in advanced model systems, including animals, along with the pharmaceutical development of chemical series, can in turn provide leads for downstream drug discovery efforts.</p>
	</div>
</div>
<div class="container">
	<div class="button-container">
		<span class="input-group-btn input-group-btn-left">
			<a href="/create_project" type="button" class="btn btn-primary">Add a new Project</a>
		</span>
		<span>
		<a href="/select_project?next_project=add_task" type="button" class="btn btn-primary">Add a new Task</a>
		</span>
		<span class="input-group-btn input-group-btn-right">
		<a href="/select_project?next_project=add_entry" type="button" class="btn btn-primary">Add an attachment</a>
		</span>
	</div>

		<!-- <div class="notes-section">
		<br>
			<p id="note-p">User Notes</p>
			<div id="userNotes">
				{% if notes %}
					{% for note in notes %}
					<p>{{note.note}}</p>
					{% endfor %}
				{% endif %}
			</div>
		</div> -->
</div>
<div class="container notes-section">
	<h4 id="note-p">Lab Notes</h4>
	<div>
		<form id="addNoteForm" action="/add_note" method="POST" enctype="multipart/form-data">
			<!-- <h3>Note</h3> -->
			<textarea name="note" id="note" placeholder="Type a note here..." rows="2" cols="50" required></textarea>
			<br>
			<button type="submit" class="btn btn-info submit"><i class="fa fa-trash fa-1" aria-hidden="true">Add Note</i></button>
		</form>   
	</div>
	<br>
		<div id="userNotes">
			{% if notes %}
				{% for note in notes%}
				{{note.note}}
					<form action="/delete_note/{{note.note_id}}" method="post">
						<button id="remove-btn" data-source="{{note.note_id}}" type="submit" class="btn btn-outline-secondary btn-sm remove"><i class="fa fa-trash fa-1" aria-hidden="true">Remove</i></button>
					</form>
					<br>
				{% endfor %}	
			{% endif %}
		</div>
</div>
{% endblock %}